body {
    font-family: 'Open Sans', sans-serif;
   
}
.pad-top {
    padding-top:60px;
}
.text-center {
    text-align:center;
}
i.fa {
    padding:5px;
}
section {
    padding-top:50px;
}

p {
    font-weight:300;
    line-height:30px;
}
.pad-row {
    padding-top:40px;
    padding-bottom:40px;
}
.pad-bottom {
    padding-bottom:50px;
}

/* NAVBAR STYLE */
.navbar-inverse .navbar-nav > li > a {
color: #FFF;
}

.navbar-inverse .navbar-brand {
color: #FFF;
}


/* ADDED PADDING IN NAVBAR */
.navbar {
    padding:15px;
     -webkit-transition: background .8s ease-out,padding .8s ease-out;
        -moz-transition: background .8s ease-out,padding .8s ease-out;
        transition: background .8s ease-out,padding .8s ease-out;
}


/* CLASS FOR REMOVING PADDING IN NAVBAR*/
.navbar-pad-original {
      padding:0px;
}

/* FOOTER STYLE*/
#footer-sec {
    background-color:#000;
    color:#808080;
}
#footer-sec h4 {
        text-transform:uppercase;
        color:#fff;
}

   